
.chart { 
    display: grid;
    border: 2px solid #000;
    position: relative;
    overflow: auto;
	min-width: 100%;
    border-radius: calc(.75rem - 1px);
	
}

//.chart::-webkit-scrollbar {height:1px; width:1px;}

.chart-row {
    display: grid;
    grid-template-columns: 150px repeat(12, 600px);
 }

.chart-period > span {
	border-bottom:1px #999 solid;
    font-size: 13px;  
    align-self: center;  
    font-weight: bold;  
    padding: 15px 5px;   
}

.chart-lines {
	grid-template-columns:150px repeat(12, 600px); 
	position: absolute; 
	height: 100%;  
	width: 100%;  
	background-color: transparent;
}

.chart-lines > span {
	display: block;  
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.chart-row-bars {
    list-style: none;
    display: grid;
    grid-template-columns:100px repeat(72, 100px);
    padding: 5px 0;
    margin: 0;
}

//.chart-row-bars li {overflow:hidden; position:relative; cursor:pointer;} 
.chart-row-bars li:first-child {padding-left:15px;}


.col-md-4 .card-body h6 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp:2; -webkit-box-orient: vertical;}   
.card-body h6 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp:3; -webkit-box-orient: vertical;}   

                               
.card-body .bg-light {background:#dddddd!important;}
.card-body .nav.nav-pills{max-width:250px;}

.rounded-xl {border-radius: calc(.75rem - 1px)!important;}
.noHover{pointer-events:none;}

.chart-row.bg-primary {box-shadow: inset 15px 0px 0px 0px #007bff73; background:#007bff73!important;}
.chart-row.bg-secondary {box-shadow: inset  15px 0px 0px 0px #6c757d73; background:#6c757d73!important; }
.chart-row.bg-success {box-shadow: inset 15px 0px 0px 0px #28a74573; background:#28a74573!important;}
.chart-row.bg-danger {box-shadow: inset  15px 0px 0px 0px #dc354573; background:#dc354573!important;}
.chart-row.bg-warning {box-shadow: inset 15px 0px 0px 0px #ffc10773; background:#ffc10773!important;}
.chart-row.bg-info {box-shadow: inset 15px 0px 0px 0px #17a2b873; background:#17a2b873!important;}
 









